/* Global Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue",Arial,sans-serif,PingFangTC-Regular,"Noto Sans TC",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  line-height: 1.6;
  color: #333;
  margin: 0 auto;
  padding: 0;
  background-color: #fff;
  position: relative;
  padding-bottom: 90px;
}

@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?vfx5ms');
  src:  url('../fonts/icomoon.eot?vfx5ms#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?vfx5ms') format('truetype'),
    url('../fonts/icomoon.woff?vfx5ms') format('woff'),
    url('../fonts/icomoon.svg?vfx5ms#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-backward:before {
  content: "\e900";
}
.icon-bulb:before {
  content: "\e901";
}
.icon-check:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-forward:before {
  content: "\e904";
}
.icon-loading:before {
  content: "\e905";
}
.icon-pause:before {
  content: "\e906";
}
.icon-play:before {
  content: "\e907";
}
.icon-plus:before {
  content: "\e908";
}
.icon-speed:before {
  content: "\e909";
}
.icon-time:before {
  content: "\e90a";
}

.icon-loading {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.position-relative {
  position: relative;
}
.position-absolute {
  position: absolute;
}
.overflow-hidden {
  overflow: hidden;
}
a,
button {
  outline: none !important;
}

button {
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid #e4e4e4;
  font-size: 1rem;
  line-height: 1;
  border-radius: 1rem;
  padding: 8px 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  touch-action: manipulation;
}
button:not(:first-child) {
  margin-left: .5rem;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn-white {
  border: 2px solid #d2d2d2;
  background: #fff;
  color: #666;
}
.btn-dark {
  border: 2px solid #333;
  background: #333;
  color: #fff;
}
.btn-red {
  border: 2px solid #f9595f;
  background: #f9595f;
  color: #fff;
}

.btn-circle {
  border-radius: 50%;
  padding: 0;
  width: 60px;
  height: 60px;
  font-size: 1.8rem;
}
.btn-link {
  color: #777;
  padding: 0 0.1rem;
  font-size: 2rem;
  border: none;
  background: transparent;
  text-decoration: none;
}
.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-flex {
  display: flex;
}
.d-inline-flex {
  display: inline-flex;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.text-muted {
  color: #a8a8a8;
}
.text-red {
  color: #f9595f;
}
.font-size-xl {
  font-size: 4rem;
  margin-bottom: 1rem;
}
input {
  display: block;
  width: 100%;
  padding: .25rem .75rem;
  border: 2px solid #ccc;
  border-radius: 1rem;
  font-size: 1rem;
  line-height: 1.8;
}
input:not(:last-child) {
  margin-bottom: 0.5rem;
}
input:focus {
  outline: none !important;
  border-color: #f9595f;
}
::placeholder {
  color: #999;
}
header {
  padding: 2rem;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

header img {
  width: 160px;
  margin-right: 6px;
}

h1 {
  margin: 0;
  font-size: 1.35rem;
  line-height: 1;
}

main {
  padding: 0 3rem;
  max-width: 800px;
  margin: 0 auto;
  min-height: calc(100vh - 270px);
}

h2 {
  color: #444;
}

ul {
  list-style: none;
  margin-bottom: 1rem;
}
li {
  margin-bottom: 0.5rem;
}
li span {
  margin-right: 0.5rem;
}
.badge {
  display: inline-flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 2px solid #ddd;
  font-size: 0.8rem;
  line-height: 1;
  border-radius: 0.5rem;
  padding: 3px 7px;
}
/* File Selection */
#file-selection {
  margin-bottom: 3rem;
}
.dashed-block {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  border: 2px dashed #d2d2d2;
  padding: 3rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
  margin-bottom: 1rem;
  min-height: calc(100vh - 270px);
}
.dashed-block > div {
  width: 100%;
}
.dashed-block h2 {
  margin-top: 1rem;
  margin-bottom: 0.25rem;
}

/* Audio Player */
#audio-player {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: #fff;
  z-index: 120;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-align: center;
  align-items: center;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .5);
  padding: 0 1rem;
  height: 0;
  opacity: 0;
  transition: height 0.3s ease, opacity 0.3s ease;
}
#audio-player.show {
  height: 90px;
  opacity: 1;
}
#waveform {
  width: calc(100% - 250px);
  height: 60px;
}
#waveform wave {
  height: 60px !important;
}
.tooltip {
  width: 140px;
  right: -5px;
  z-index: 1000;
  padding: .6rem;
  font-size: .8rem;
  border-radius: 1rem;
  text-align: left;
  background: #f9595f;
  color: #fff;
  top: -90px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
}
.tooltip:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: -5px;
  width: 10px;
  height: 10px;
  border-bottom-left-radius: 3px;
  background-color: #f9595f;
  transform: rotate(-60deg) skewX(-30deg) scale(1, .866);
  z-index: 2;
}
.tooltip.show {
  opacity: 1;
  visibility: visible;
}
/* Lyrics Input */
#lyrics-textarea {
  width: 100%;
  padding: 1rem 1rem calc(100vh - 380px) 1rem;
  font-family: Courier New,"Noto Serif HK", serif;
  font-size: 1rem;
  line-height: 1.8;
  border: 2px solid #ccc;
  border-radius: 1rem;
  resize: vertical;
  overflow-y: scroll;
  position: relative;
  z-index: 10;
  background: transparent;
  font-weight: 300;
}
#lyrics-textarea:focus {
  outline: none !important;
  border-color: #f9595f;
}
#lyrics-textarea.push-lyrics {
  padding-top: 3rem;
  padding-bottom: calc(100vh - 460px);
}
#lyrics-textarea.overflow-hidden {
  padding-right: 23px;
  overflow: hidden !important;
}
.icon-arrow {
  font-size: 1.8rem;
  left: -2.2rem;
  top: 1rem;
}

#current-line {
  width: 100%;
  top: 0;
  bottom: 10px;
  padding: 3rem 23px 1rem 1rem;
  font-family: Courier New,"Noto Serif HK", serif;
  font-size: 1rem;
  line-height: 1.8;
  border: 2px solid transparent;
  border-radius: 1rem;
  overflow-y: hidden;
  position: absolute;
  top: 0;
  font-weight: 900;
  z-index: 1;
}
.btns-wrapper {
  margin-top: 1rem;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem;
  -ms-flex-item-align: end;
  align-self: flex-end;
}
footer a {
  font-weight: 600;
  text-decoration: none;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  outline: 0;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem auto;
  pointer-events: none;
  max-width: 300px;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -25%);
}
@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: translate(0, 0);
}

.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}
.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  outline: 0;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
  background-color: #000;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop.show {
  opacity: 0.8;
}

.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 2rem;
  word-wrap: break-word;
}

.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem 1.5rem 2rem;
}

.tips-wrapper {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 90px;
  z-index: 100;
}
.tips-wrapper .btn-dark {
  width: 45px;
  height: 50px;
  margin-top: 1rem;
  padding: 0;
  font-size: 1.5rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.collapse {
  transition: right .3s ease;
}
.collapse:not(.show) {
  right: -280px
}
.collapsing {
  right: -280px;
  transition: right .3s ease;
}
.tips-info {
  display: block;
  width: 280px;
  background: #333;
  color: #fff;
  padding: 0.25rem 1.5rem;
  font-size: 0.95rem;
  overflow-y: auto;
}
.tips-info h3 {
  margin-bottom: 0.75rem;
  margin-top: 1.5rem;
}
.tips-info [class^="icon-"],
.tips-info [class*=" icon-"] {
  font-size: 1.3rem;
  margin-right: 0;
  vertical-align: sub;
}
.tips-wrapper .btn-dark:not(.collapsed) .icon-bulb {
  display: none;
}
.tips-wrapper .btn-dark.collapsed .icon-close {
  display: none;
}

/* Responsive Design */
@media (max-width: 767.98px) {
  .btns-wrapper {
    margin-top: 0.5rem;
  }
  .btns-wrapper .d-flex {
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .btns-wrapper .btn-white {
    width: 30%;
    margin-left: 0;
  }
  .btns-wrapper .d-block button {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .btns-wrapper {
    display: flex;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .btns-wrapper .d-flex {
    margin-left: auto;
  }
  .btns-wrapper button {
    width: auto;
  }
  .btns-wrapper .d-flex button {
    margin-right: .5rem;
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .btn-white:not(:disabled):hover {
    background: #d2d2d2;
  }
  .btn-red:not(:disabled):hover {
    border: 2px solid #f72830;
    background: #f72830;
  }
  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #222;
    text-decoration: none;
    background-color: #f8f8f8;
  }
  #waveform-controls button {
    margin-left: .75rem;
  }
}
@media (max-width: 991.98px) {
  body {
    padding-bottom: 60px;
  }
  main {
    padding: 0 2rem;
    min-height: 0;
  }
  #audio-player.show {
    height: 60px;
  }
  .tips-wrapper {
    bottom: 60px;
  }
  .btn-circle {
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 50%;
    padding: 0;
    width: 36px;
    height: 36px;
    font-size: 1.1rem;
  }
  .btn-circle:not(:first-child) {
    margin-left: .35rem;
  }
  .btn-link {
    font-size: 1.6rem;
  }
  .tooltip:before {
    left: 67%;
  }
  #waveform {
    width: calc(100% - 165px);
    height: 40px;
  }
  #waveform wave {
    height: 40px !important;
  }
  #waveform-controls button {
    margin-left: .5rem;
  }

  #lyrics-textarea {
    padding: 1rem 0.75rem calc(100vh - 540px) 0.75rem;
  }
  #lyrics-textarea.push-lyrics {
    padding-top: 3rem;
    padding-bottom: calc(100vh - 570px);
  }
  #lyrics-textarea.overflow-hidden {
    padding-right: 0.75rem;
    overflow: hidden !important;
  }
  #current-line {
    padding: 3rem 0.75rem 1rem 0.75rem;
  }
  header {
    display: block;
  }

  header img {
    margin-right: 0px;
    margin-bottom: 3px;
  }

  h1 {
    font-size: 1.35rem;
  }
  .dashed-block {
    min-height: 0;
  }
  footer {
    margin-top: 1rem;
  }
  .tips-wrapper .btn-dark {
    margin-top: 2rem;
  }
}
